
server {
	listen 80;
	server_name ~^replywithtaku\.me;
	root /srv/replywithtaku.me/;
	index redirect-iOS.html;

	access_log  /var/log/nginx/replywithtaku.me/access json;

	location / {
		try_files $uri $uri/ =404;
	}
}

